{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}レビューの作成{% endblock title %}

{% block content %}

    <h2>レビューの作成</h2>

    <p>
        「isbn」には次にお勧めする本のisbnを入力してください。
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="レビューを投稿する" class="btn btn-outline-success">
    </form>
{% endblock content %}

{% block sidebar %}
    <div class="card">
        <p class="card-header">人気のレビュー</p>
        {% for review in popular_reviews %}
        <p class="card-text text-end">
            <a href="{{ review.get_absolute_url }}">{{ review.title }}</a>
        </p>
        {% empty %}
        <p>まだレビューがありません。</p>
        {% endfor %}
    </div>
    <div class="card">
        <p class="card-header">フォローしてる人たちのアクション</p>
        {% for action  in following_actions %}
        <div class="card-text text-end">
            <p>{{ action.action_content }}</p>
            <a href="{{ action.action_url }}" class="btn btn-outline-danger">詳細</a>
        </div>
        {% empty %}
        <p>フォローしてる人がいない、またはフォローしてる人のアクションがありません。</p>
        {% endfor %}
    </div>
{% endblock sidebar %}