{% extends '_base.html' %}
{% load static %}

{% block title %}Review List{% endblock title %}

{% block content %}
    <h2>レビュー一覧</h2>
    {% for review in reviews %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    {{ review.title }} by <a href="{{ review.author.get_absolute_url }}">{{ review.author.username }}</a>
                </h3>
                <p class="card-text">
                    {{ review.body }}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{ review.get_absolute_url }}" class="btn btn-outline-danger">
                    詳細
                </a>
            </div>
        </div>
    {% endfor %}

    <div class="page">
		<nav aria-label="Top page">
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
				<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
					{{ page_obj.previous_page_number }}
				</a>
				</li>
				{% endif %}		  
				<li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
				{% if page_obj.has_next %}
				<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
					{{ page_obj.next_page_number }}
				</a>
				</li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>

{% endblock content %}

{% block sidebar %}
    <div class="card">
        <p class="card-header">人気のレビュー</p>
        {% for review in popular_reviews %}
        <p class="card-text text-end">
            <a href="{{ review.get_absolute_url }}">{{ review.title }} by {{ review.author.username }}</a>
        </p>
        {% endfor %}
    </div>
    <div class="card">
        <p class="card-header">フォローしてる人たちのアクション</p>
        {% for action  in following_actions %}
        <div class="card-text text-end">
            <p>{{ action.action_content }}</p>
            <a href="{{ action.action_url }}" class="btn btn-outline-danger">詳細</a>
        </div>
        {% endfor %}
    </div>
{% endblock sidebar %}