{% extends '_base.html' %}
{% load static %}

{% block title %}レビュワーの詳細{% endblock title %}

{% block content %}

    <h2>レビュワーの詳細</h2>

    <div class="card author-detail">
        <div class="card-body">
            <h3 class="card-title">{{ author.username }}のプロフィール</h3>
            <p class="card-text">
                {{ author.profile|linebreaks }}
            </p>
            <p>総レビュー数: {{ author.count_reviews }}</p>
            <p>レビューの総いいね数: {{ author.count_review_likes }}</p>
            <p>
                <div class="follow-followers">
                    <span>
                        <span>フォロー : <span class="badge rounded-pill bg-primary follow-count">{{ author.count_followings }}</span></span>
                        <span>フォロワー : <span class="badge rounded-pill bg-primary follower-count">{{ author.count_followers }}</span></span>
                    </span>
                </div>                
            </p>
            <div class="card-footer">
                {% if request.user == author %}
                <a href="{% url 'update' author.pk %}" class="btn btn-outline-primary">プロフィールを編集する</a>
                {% else %}
                <div class="follow">
                    <a 
                        href="#" 
                        data-id="{{ author.id }}" 
                        data-action="{% if request.user in author.followers.all %}un{% endif%}follow" 
                        class="follow btn btn-outline-primary">
                        {% if request.user in author.followers.all %}
                        フォローをやめる
                        {% else %}
                        フォローする
                        {% endif %}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="follow-text"></div>

    <h2>{{ author.username }}のレビュー</h2>

    {% for review in reviews %}
    <div class="card review">
        <div class="card-body">
            <h3 class="card-title">{{ review.title }}</h3>
            <h4 class="card-subtitle mb-3 text-muted">
                {% if review.published %}公開日: {{ review.published }}{% endif %}
                作成日: {{ review.created }}
                {% if review.modified_after_published %}修正日: {{ review.modified }}{% endif %}
            </h4>
            <div class="card-text">
                <p>
                    {{ review.body|linebreaks }}
                </p>
            </div>
            <div class="card-footer">
                <a href="{{ review.get_absolute_url }}" class="btn btn-outline-primary">詳細</a>
            </div>
        </div>
    </div>

    {% empty %}
    <p>{{ author.username }}さんのレビューはまだありません。</p>
    {% endfor %}

    <div class="page">
		<nav aria-label="Top page">
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
				<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
					{{ page_obj.previous_page_number }}
				</a>
				</li>
				{% endif %}		  
				<li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
				{% if page_obj.has_next %}
				<li class="page-item">
				<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
					{{ page_obj.next_page_number }}
				</a>
				</li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>

    
{% endblock content %}

{% block sidebar %}
    <div class="card">
        <h3 class="card-header">
            {{ author.username }}さんの人気のレビュー
        </h3>
        <div class="card-body">
            {% for review in author_popular_reviews %}
            <p class="text-end"><a href="{{ review.get_absolute_url }}">{{ review.title }}</a></p>
            {% empty %}
            <p>{{ author.username }}さんのレビューはまだありません。</p>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <h3 class="card-header">
            {{ author.username }}さんの最近の行動
        </h3>
        {% for action in author.accounts_actions.all|slice:":5" %}
        <p class="card-body text-end">
            {{ action.action_content }}
            <a href="{{ action.action_url }}" class="btn btn-outline-primary">詳細</a>
        </p>
        {% empty %}
        <p>{{ author.username }}さんの行動履歴はありません。</p>
        {% endfor %}
    </div>
{% endblock sidebar %}

{% block script %}
<script src="{% static 'js/review_author_detail.js' %}"></script>
{% endblock script %}