{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}レビューの詳細{% endblock title %}

{% block content %}

    <h2>レビュー詳細: <a href="{{ review.related_book.get_absolute_url }}">{{ review.related_book.title }}</a></h2>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ review.title }} by <a href="{% url 'review:author-detail' review.author.pk %}">{{ review.author.username }}</a></h3>
            <h4 class="card-subtitle mb-3 text-muted">
                {% if review.published %}公開: {{ review.published }}{% endif %}
                作成: {{ review.created }}
                {% if review.modified_after_published %}修正: {{ review.modified }}{% endif %}
            </h4>
            <p class="card-text">
                {{ review.body|linebreaks }}
            </p>            
            <span>次の本: <a href="{{ review.next_book.get_absolute_url }}">{{ review.next_book.title }}</a></span>
            <p class="card-text">
                {{ review.recommending_text }}
            </p>
        </div>
        <div class="card-footer">
            {% if request.user == review.author %}
            <a href="{% url 'review:update' review.pk %}" class="btn btn-outline-danger">修正する</a>
            <a href="{% url 'review:delete' review.pk %}" class="btn btn-outline-danger">削除する</a>
            {% endif %}
            <a href="#" 
                data-id="{{ review.id }}" 
                data-action="{% if request.user in review.review_likes.all %}un{% endif %}like" 
                class="like btn btn-outline-danger">
                    {% if request.user in review.review_likes.all %}
                    いいねをやめる
                    {% else %}
                    いいね
                    {% endif %}
            </a>
            <span class="badge rounded-pill bg-danger like-count">{{ review.review_likes.all.count }}</span>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="コメントする" class="btn btn-outline-danger">
            </form>
        </div>
    </div>

    <div class="card">
        {% for comment in review.review_comments.all %}
        <div class="card-body">
            <p class="card-text">
                {{ comment.author }}
            </p>
            <p class="card-subtitle mb-3 text-muted">
                {{ comment.created }}
            </p>
            <p class="card-text">
                {{ comment.comment }}
            </p>
        </div>
        {% empty %}
        <p>{{ review.title }}についてのコメントはまだありません。</p>
        {% endfor %}
    </div>
{% endblock content %}

{% block sidebar %}
    <div class="card">
        <p class="card-header">人気のレビュー</p>
        {% for recent_review in popular_reviews %}
        <p class="card-text text-end">
            <a href="{{ recent_review.get_absolute_url }}">{{ recent_review.title }} by {{ recent_review.author.username }}</a>
        </p>
        {% empty %}
        <p>まだレビューがありません。</p>
        {% endfor %}
    </div>

    <div class="card">
        <p class="card-header">フォローしてる人たちのアクション</p>
        {% for action  in following_actions %}
        <div class="card-text text-end">
            <p>{{ action.action_content }}</p>
            <a href="{{ action.action_url }}" class="btn btn-outline-danger">詳細</a>
        </div>
        {% endfor %}
    </div>
{% endblock sidebar %}

{% block script %}
    <script src="{% static 'js/review_detail.js' %}"></script>
{% endblock script %}
